<footer>
  <div class="copyRight d-flex align-items-center justify-content-between">
    <p>Copyrights ©RandomUsers reserved 2022</p>
    <div class="ml-md-auto">
      <a href="https://www.facebook.com/huda.salah.94" target="_blank"><i class="fa fa-facebook" title="facebook"></i></a>
      <a href="https://github.com/HudaSalah" target="_blank"><i class="fa fa-github" title="github"></i></a>
      <a href="https://eg.linkedin.com/in/hudasalah-eldeen" target="_blank"><i class="fa fa-linkedin" title="linked-in"></i></a>
    </div>
  </div>
</footer>
