<main>
  <section id="randomUser">
    <div class="container">
      <!-- exports buttons  -->
      <div class="d-flex justify-content-end my-3">
        <button type="button" class="btn btn-blue p-3 m-2">
          Export CSV <i class="fa fa-file"></i>
        </button>
        <button type="button" class="btn btn-blue p-3 m-2">
          Export XML <i class="fa fa-file"></i>
        </button>
      </div>

      <!-- random users list container  -->
      <div class="randomUser-filter my-5">
        <div class="col-12 d-flex align-items-center">
          <span class="mx-2"><i class="fa fa-filter"></i></span>
          <div class="row col-lg-10 col-12">
            <div class="col-12 col-md-4 d-flex align-items-center my-2">
              <label class="px-3">Gender:</label>
              <ng-select
                class="form-control w-100 p-0 border-0 h-auto"
                [items]="genderData"
                bindLabel="name"
                bindValue="id"
                [placeholder]="'select gender'"
                [allowClear]="true"
                [(ngModel)]="selectedGender"
                (change)="onGenderChange($event)"
              >
              </ng-select>
            </div>

            <div class="col-12 col-md-6 d-flex align-items-center my-2">
              <label class="px-3">Nationality:</label>
              <ng-select
                class="form-control w-100 p-0 border-0 h-auto"
                [items]="nationalityData"
                bindLabel="name"
                bindValue="id"
                [multiple]="true"
                maxSelectedItems = 3
                [placeholder]="'select nationality'"
                [allowClear]="true"
                [(ngModel)]="selectedNat"
                (change)="onNationalityChange($event)"
              >
              </ng-select>
            </div>
          </div>
        </div>
      </div>

      <!-- show random users list  -->
      <div class="randomUser-list-container row col-12">
        <div class="col-12 col-md-6 col-lg-4 mt-3 mb-5">
           <div class="randomUser-card d-flex justify-content-center">
             <div class="randomUser-img" style="background-image: url(assets/images/huda.jpg);">
             </div>
             <div class="randomUser-information row col-12">
               <div class="col-12 col-md-6">
                 <label>name:</label><label>HuDa slah el dien</label>
               </div>
               <div class="col-12 col-md-6">
                <label>name:</label><label>HuDa slah el dien</label>
              </div>
              <div class="col-12 col-md-6">
                <label>name:</label><label>HuDa slah el dien</label>
              </div>
              <div class="col-12 col-md-6">
                <label>name:</label><label>HuDa slah el dien</label>
              </div>
             </div>
           </div>
        </div>

      </div>
    </div>
  </section>
</main>
