@import "src/styles.scss";

#randomUser{
 .randomUser-filter{
  span , label{
  color: $color-blue;
  }
  label{
    @media #{$information-tablet}{
       min-width: 110px;
       font-size: 14px;
    }
  }
  span{
    @media #{$information-MobileLarge}{
      display: none;
    }
  }
}
}
