@import "src/styles.scss";

#randomUser {
  .randomUser-filter {
    span,
    label {
      color: $color-blue;
    }
    label {
      @media #{$information-tablet} {
        min-width: 110px;
        font-size: 14px;
      }
    }
    span {
      @media #{$information-MobileLarge} {
        display: none;
      }
    }
  }

  .randomUser-list-container {
    .randomUser-card {
      border: 2px solid $color-green;
      border-radius: 20px;
      padding: 20px;
      margin: 10px;
      position: relative;
      min-height: 235px;

      .randomUser-img {
        width: 130px;
        height: 130px;
        border: 2px solid $color-green;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: -25%;
        background-size: cover;
        background-position: center;
        @media #{$information-MobileMedium} {
          width: 110px;
          height: 110px;
        }
      }
      .randomUser-information {
        margin-top: 20%;
        @media #{$information-laptop} {
          margin-top: 25%;
        }
        @media #{$information-MobileLarge} {
          margin-top: 20%;
        }
        label {
          font-size: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-break: break-word;
          i {
            width: 20px;
            color: $color-yellow;
          }
        }
      }
    }
  }

  .randomUser-list-empty {
    p {
      margin: 0;
      font-size: 20px;
      font-weight: bold;
      color: #52b2ad4f;
      text-align: center;
      @media #{$information-MobileLarge} {
        font-size: 15px;
      }
    }
  }
}
